---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';

// Import assets
import heroImg from '../assets/heroimage.webp';
import manuImg from '../assets/manu.jpg';
import placeholderChess from '../assets/Projects/Placeholder_Chess.png';
import exampleQuery from '../assets/Projects/exampleQuery.png';
import theoQuiz from '../assets/Projects/Theo-quiz.png';

// Icon imports
import webstackIcon from '../assets/Tech-icons/webstack.png';
import mongodbIcon from '../assets/Tech-icons/mongodb.svg';
import pytorchIcon from '../assets/Tech-icons/pytorch.svg';
import pythonIcon from '../assets/Tech-icons/python.svg';
import typescriptIcon from '../assets/Tech-icons/typescript.svg';
import html5Icon from '../assets/Tech-icons/html5.svg';
import css3Icon from '../assets/Tech-icons/CSS3.svg';
import githubIcon from '../assets/github-mark-white.svg';
import linkedinIcon from '../assets/linkedin.png';
---

<BaseLayout title="Manuel Oelmaier">
    <section class="hero">
        <div class="hero-text">
            <h1 id="name">Manuel Oelmaier</h1>
            <h2 id="name-description">Software Engineer focused on AI</h2>
        </div>
    </section>

    <section id="about-me" class="fade-in">
        <h2>About me</h2>
        <Image id="manu-img" src={manuImg} alt="Profile picture of Manuel" width={288} height={288} />
        <div class="about-me-content">
            Computer Science student at the Technical University of Munich.
            Experienced in building full-stack applications, primarily leveraging <strong>Python, Java,
            Webstack</strong> and adept at
            quickly adopting new technologies.
            Specializing in <strong>Machine Learning and AI</strong>, with hands-on experience
            pre-training, finetuning, evaluating and integrating large Language Models.
            Passionate about developing solutions that bridge technical innovation with real-world impact.
            In my free time I enjoy playing Chess, reading books and being active in the Gym.
            <br><br>
            <div class="about-me-links">
                <a href="/blog" class="button-link blog-button">Read my Blog</a>
            </div>
        </div>
    </section>

    <section class="fade-in">
        <h2> Principles</h2>
        <div class="principles-grid">
            <div class="principle">
                <h3>Pragmatism</h3>
                <p>I approach software development with a balance of <strong>aiming high and being realistic</strong> .
                    My priority is delivering real, tangible value within realistic timeframes. My focus is on pragmatic
                    iteration:
                    choosing simple solutions that just work, only adding complexity when it genuinely pays off. This
                    means I prioritize <strong>new features and improving with user feedback, over chasing
                        perfection.</strong></p>
            </div>
            <div class="principle">
                <h3>Software Craftsmanship</h3>
                <p>
                    With a strong foundation in computer science, I’m passionate about building <strong>reliable,
                    scalable, and thoughtful software.</strong>
                    I enjoy working across the stack, whether it’s crafting clean backend architectures, designing
                    intuitive interfaces, or integrating the latest ML/AI models.
                    As I grow as a developer, I strive to write <strong>maintainable, human-friendly </strong> code that
                    empowers others and leads to meaningful, high-quality products.
                </p>
            </div>
            <div class="principle">
                <h3>Lifelong Learning</h3>
                <p>
                    Technology changes fast, and <strong>staying curious is my engine for growth</strong> . I
                    continually explore new
                    tools, frameworks, and ideas—whether through <strong> building side projects</strong> or <strong>studying
                    academic concepts</strong> like linear attention for transformers. For me, learning isn't a goal
                    but
                    a <strong>hands-on habit</strong> , ensuring I'm constantly adapting and turning new knowledge into
                    practical, high-impact skills.
                </p>
            </div>
        </div>
    </section>

    <section id="Resume" class="fade-in">
        <h2>Résumé</h2>
        <p>Download my résumé for a concise overview of my skills, experience, and projects</p>
        <a href="/lebenslauf_manuel_Oelmaier.pdf" target="_blank" class="resume-button button-link">Grab A Copy</a>
    </section>

    <section id="Projects" class="fade-in">
        <h2>Project Showcase</h2>
        <div class="projects-grid">
            <article class="card">
                <h3 class="title">Prototype: ManuChess</h3>
                <p>A small website which lets you play against a Mirror of Myself. I am currently working on training a
                    small
                    Neural Net with all my Chess games (tournament and online), which at the end will play like me.
                    Coming soon!</p>
                <Image class="card-Showcase" src={placeholderChess} alt="Placeholder for Manuchess." width={600} />
                <a href="https://github.com/manuel-Oelmaier" target="_blank" class="project-link button-link">
                    <Image src={githubIcon} alt="GitHub Logo" class="icon" />
                    <span>View on GitHub</span>
                </a>
                <div class="tags">
                    <span class="tag"><Image src={webstackIcon} alt="webstack logo" class="icon" /> Webstack</span>
                    <span class="tag"><Image src={mongodbIcon} alt="MongoDB logo" class="icon" /> MongoDB</span>
                    <span class="tag"><Image src={pytorchIcon} alt="pytorch logo" class="icon" /> Pytorch</span>
                </div>
            </article>

            <article class="card">
                <h3 class="title">LocalPythonCodingLlm</h3>
                <p>As Coursework, we fine-tuned and compared different small LLMs in their Ability to write Python Code.
                    We made the best one publicly available via a <abbr title="Visual Studio Code">VSC</abbr> Extension,
                    where the model can be queried locally.
                    Since LLMs almost always need the unencrypted text,a local models solves a key privacy issue.</p>
                <Image class="card-Showcase" src={exampleQuery} alt="Screenshot of a sample query" width={600} />
                <a href="https://github.com/manuel-Oelmaier/LocalPythonCodingLlm" target="_blank"
                   class="project-link button-link">
                    <Image src={githubIcon} alt="GitHub Logo" class="icon" />
                    <span>View on GitHub</span>
                </a>
                <div class="tags">
                    <span class="tag"><Image src={pythonIcon} alt="python logo" class="icon" /> Python</span>
                    <span class="tag"><Image src={pytorchIcon} alt="pytorch logo" class="icon" /> Pytorch</span>
                    <span class="tag"><Image src={typescriptIcon} alt="typescript logo" class="icon" />  Typescript</span>
                </div>
            </article>

            <article class="card">
                <h3 class="title">Quiz App: Theoretical Informatics</h3>
                <p>A small website with the Collection of the Past Multiple Choice questions of public
                    Exams, to help students prepare. Renders Formulas and Mathematical Expressions accurately.</p>
                <Image class="card-Showcase" src={theoQuiz} alt="Screenshot of a sample question in the Quiz App." width={600} />
                <a href="https://github.com/manuel-Oelmaier/Theo" target="_blank" class="project-link button-link">
                    <Image src={githubIcon} alt="GitHub Logo" class="icon" />
                    <span>View on GitHub</span>
                </a>
                <div class="tags">
                    <span class="tag"><Image src={typescriptIcon} alt="typescript logo" class="icon" />  Typescript</span>
                    <span class="tag"><Image src={html5Icon} alt="html logo" class="icon" />  HTML</span>
                    <span class="tag"><Image src={css3Icon} alt="CSS logo" class="icon" />  CSS</span>
                </div>
            </article>
        </div>
    </section>

    <section id="Contact" class="fade-in">
        <div class="contact-text">
            <p>Curious about AI, coding, or just want to swap ideas? Drop me a message—I’d love to connect!</p>
            <a href="mailto:manuel@oelmaier.eu" class="button-link contact-button">Send me a mail</a>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/manuel-oelmaier/" target="_blank" aria-label="LinkedIn">
                    <Image src={linkedinIcon} alt="LinkedIn" class="social-icon" />
                </a>
                <a href="https://github.com/manuel-Oelmaier" target="_blank" aria-label="GitHub">
                    <Image src={githubIcon} alt="GitHub" class="social-icon" />
                </a>
            </div>
        </div>
    </section>
</BaseLayout>
